.maincartdiv{
    padding: 10px;
}
.secondcart{
    padding:10px 80px;
    display: flex;
    gap: 30px;
    width: fit-content;
}
.secondcart img{
    width: 130px;
}
.maincartdiv h1{
    margin-left: 50px;
    text-align: left;
}
.smaincart{
    display: flex;
}
.smaincart> :first-child{
    background-color: white;
    width: 70%;
    padding-top: 60px;
}
.subtotaldiv{
    background-color: white;
    height: fit-content;
    margin-left: 10px;
    padding: 10px;
}
.removebtn{
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.cartbtn{
    background-color: #FFD814;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 10px;
}
@media only screen and (max-width: 767px) {
    .secondcart img{
        width: 100px;
        margin-left: -70px;
    }
    .smaincart> :first-child{
        margin:auto;
    }
    .secondcart div{
        margin-top: -50px;
    }
    .smaincart {
        display: inline;
    }
    .subtotaldiv{
        margin: auto;
        margin-top: 20px;
        width: 300px;
    }
}