/* merchantorder.css */

.orders-container input {
  padding: 8px;
  margin: 5px 0;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #111111;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.order-row-true {
  background-color: #d4edda; /* Light green for delivered orders */
}

.order-row-false {
  background-color: #f7e8e9; /* Light red for pending orders */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}

.pdata {
  margin-bottom: 10px;
}

img {
  margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  .orders-table {
    width: 98%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 6px;
  }
  
  th, td {
    border: 1px solid #111111;
    padding: 2px;
    text-align: left;
    font-size: 6px;
  }
.tdid, .thid{
  /* background-color: teal; */
  display: none;
}

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 8px;
    margin-top: 3px;
    margin-right: 5px;
  }
}