/* Merchantdatapage.css */

.nav{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  background-color: #b8b6b6;
  }

.merchant-data-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .merchant-title {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
  }
  
  .merchant-details p {
    margin: 8px 0;
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .back-button {
    background-color: #b43434;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .back-button:hover {
    background-color: #1967d2;
  }
  


