#navbarmain{
    display: flex;
    padding: 25px 15px 10px 15px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: space-between;
}
#navbarmain img{
    margin-top: 10px;
}
#navbarmain :nth-child(2),
#navbarmain :nth-child(4),
#navbarmain :nth-child(5),
#navbarmain :nth-child(6)
 {
margin-top: -10px;
}

#searchdiv input{
height: 50%;
width: 80%;
border-radius: 5px 0px 0px 5px;
border: none;
}

#searchdiv{
    width: 40%;
}

#searchdiv button {
height: 40px;
background-color: #FEBD69;
border-radius: 0px 5px 5px 0px;
border: none;
width: 48px;
font-size: 10px;
 }

#subnavbar{
    display: flex;
    height: 50px;
    padding-left: 30px;
    background-color: #232F3E;
    color: white;
    margin-top: -25px;
}
#subnavbar h5{
    padding: 20px;
    margin-top: -5px;
}

#subnavbar h5:hover{   
    border: 1px solid white;
    margin-top: 5px;
    cursor: pointer;
}
#navbarmain a{
    text-decoration: none;
    color: white;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 767px) {

    #searchdiv{
        display: none;
    }
    #navbarmain img{
        width: 60px;
        margin-top: -10px;
    }
    h3, h4, p{
        font-size: 10px;
    }
    #subnavbar h5{
        font-size: 7px;
        margin-left: -28px;
    }
   
}