/* Orderpage component styles */

.order-page {
    margin: 0 auto;
    padding: 20px;
  }
  
  .page-title {
    color: #0e0d0d;
  }
  
  .order-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .order-list {
    list-style-type: none;
    padding: 10px;
    background-color: #b9b7b7;
  }
  
  .order-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .order-id, .product-title {
    color: #0e0d0d;
  }
  
  .order-total, .order-address, .order-payment-method {
    margin: 10px 0;
  }

  .product-item{
    padding: 20px;
    width: 320px;
    text-align: left;
  }
  
  .product-list {
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
  }
  
  .cancel-button {
    background-color: #dc3545;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cancel-button:hover {
    background-color: #c82333;
  }
  