.mainpro{
    background-color: white;
}
#productmaindiv{
    display: flex;
    padding: 20px;
}
#filterdiv {
    width: 550px;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    gap: 10px;
}
.product-card{
    border: 1px solid rgb(209, 207, 207);
    padding: 30px;
    width: auto;
    border-radius: 5px;
}
.product-card img{
    width: 180px;
    height: 240px;
}
.product-card *{
margin-top: -10px;
cursor: pointer;
}
.pricefont{
    font-size: 25px;
}
#filterdiv{
    background-color: white;
    text-align: left;
}
.product-card h4{
text-align: left;
}
