#singleproduct{
    display: flex;
    background-color: white;
    padding: 10px;

}
#singleproduct div{
    padding: 50px;
    background-color: white;
}
#singleproduct img{
width: 300px;
padding: 100px;
}

.thirddiv{
    margin-top: 40px;
    border: 1px solid rgb(173, 172, 172);
    border-radius: 10px;
}
.thirddiv .btn1{
    margin-top: 10px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
background-color: #F7CA00;
border: none;
}

.thirddiv .btn2{
    margin-top: 10px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
border: none;

    background-color: #FA8900;
}
.psze{
    font-size: 30px;
}
.pname , .stock{
    font-size: 26px;
    font-weight: bolder;
}
.stock{
    color: green;
}
.tprice{
    color: #aa6107;
    font-weight: bolder;
}

button{
    cursor: pointer;
}