#singleproduct {
    display: flex;
    background-color: white;
    padding: 10px;
}

#singleproduct div {
    padding: 50px;
    background-color: white;
}

#singleproduct>:nth-child(2) {
    margin-left: -80px;

}
.thumbnails img{
    margin: 5px;
    border: 1px solid black;
    border-radius: 4px;
    height: 50px;
    padding: 3px;
}

#singleproduct img {
    width: 500px;
}
#singleproduct>:nth-child(2){
    width: 1400px;
}

.thirddiv {
    margin-top: 40px;
    border: 1px solid rgb(173, 172, 172);
    border-radius: 10px;
    height: fit-content;
}

.thirddiv .btn1 {
    margin-top: 10px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    background-color: #F7CA00;
    border: none;
}

.thirddiv .btn2 {
    margin-top: 10px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: none;

    background-color: #FA8900;
}

.psze {
    font-size: 30px;
}

.pname,
.stock {
    font-size: 26px;
    font-weight: bolder;
}

.stock {
    color: green;
}

.tprice {
    color: #aa6107;
    font-weight: bolder;
}

button {
    cursor: pointer;
}

.bannerimg {
    width: 100%;
}

@media only screen and (max-width: 767px) {

    #singleproduct>:nth-child(1) img {
        width: 250px;
    }

    #singleproduct>:nth-child(2) {
        margin-top: -200px;
    }

    #singleproduct {
        display: inline;
    }

    .psze {
        font-size: 15px;
    }

    .pname {
        font-size: 15px;
    }

    .thirddiv {
        margin-top: -50px;
    }
    #singleproduct>#infodiv{
        margin-top: -100px;
        margin-left: 0px;
        width: fit-content;
    }
}